.footer {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #797979;
  padding: 15px 0;
}
.footer a img {
  width: 40px;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

@media (max-width: 600px) {
  .footer {
    text-align: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .footer ul {
    margin-top: 10px;
  }
  .footer ul li {
    margin: 10px;
  }
}
